<a href="https://colab.research.google.com/github/hermansyan/Python-ProjectDPHI/blob/main/DPhi_Pandas_Bootcamp_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DPhi Pandas Assignment Details

Dear Learner, 

Congratulations, you have studied Pandas all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

# Step 1: Select a Dataset of your choice

*   https://www.kdnuggets.com/datasets/index.html
*   https://dphi.tech/challenges/#past 
* https://pub.towardsai.net/best-datasets-for-machine-learning-data-science-computer-vision-nlp-ai-c9541058cf4f  
* https://medium.com/analytics-vidhya/top-100-open-source-datasets-for-data-science-cd5a8d67cc3d


or you can pick any dataset of your interest on the internet and add reference to it

# Evaluation Criteria

Your submission will be evaluated using the following criteria:

* You must ensure that the dataset is tabular.  
* You must ask and answer at least 3 questions about the dataset
*   Your submission must include explanations using markdown cells, apart from the code.
*   Your work must not be plagiarized i.e. copied for somewhere else.

#Step 2: Perform Data Cleaning/Preparation & Analysis

1. Create data frame(s) from CSV files
2. Perform index operations on data frame(s)
3. Apply Group, merge and aggregate data frame(s)
4. Check for missing and invalid values in data
5. Propose a way to treat the missing and invalid values and implement the same on the dataframe
5. Compute the mean, sum, range and other interesting statistics for numeric columns

**Create data frame(s) from CSV files**

In [1]:
import pandas as pd
df = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv')

**Perform index operations on data frame(s)**

In [2]:
df.head(10)

  iso_code continent  ... excess_mortality excess_mortality_cumulative_per_million
0      AFG      Asia  ...              NaN                                     NaN
1      AFG      Asia  ...              NaN                                     NaN
2      AFG      Asia  ...              NaN                                     NaN
3      AFG      Asia  ...              NaN                                     NaN
4      AFG      Asia  ...              NaN                                     NaN
5      AFG      Asia  ...              NaN                                     NaN
6      AFG      Asia  ...              NaN                                     NaN
7      AFG      Asia  ...              NaN                                     NaN
8      AFG      Asia  ...              NaN                                     NaN
9      AFG      Asia  ...              NaN                                     NaN

[10 rows x 67 columns]

In [3]:
df.tail(10)

       iso_code  ... excess_mortality_cumulative_per_million
161152      ZWE  ...                                     NaN
161153      ZWE  ...                                     NaN
161154      ZWE  ...                                     NaN
161155      ZWE  ...                                     NaN
161156      ZWE  ...                                     NaN
161157      ZWE  ...                                     NaN
161158      ZWE  ...                                     NaN
161159      ZWE  ...                                     NaN
161160      ZWE  ...                                     NaN
161161      ZWE  ...                                     NaN

[10 rows x 67 columns]

In [4]:
df.iloc[:10,2]

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
5    Afghanistan
6    Afghanistan
7    Afghanistan
8    Afghanistan
9    Afghanistan
Name: location, dtype: object

In [5]:
df.iloc[-10:-2,3]

161152    2022-02-02
161153    2022-02-03
161154    2022-02-04
161155    2022-02-05
161156    2022-02-06
161157    2022-02-07
161158    2022-02-08
161159    2022-02-09
Name: date, dtype: object

In [6]:
df.loc[1000:1100,['location','new_cases']]

     location  new_cases
1000   Africa    15744.0
1001   Africa    13357.0
1002   Africa    12795.0
1003   Africa    10075.0
1004   Africa    12504.0
...       ...        ...
1096   Africa    10486.0
1097   Africa    12366.0
1098   Africa    11079.0
1099   Africa     7832.0
1100   Africa     9414.0

[101 rows x 2 columns]

In [7]:
df[['continent','location']]

       continent     location
0           Asia  Afghanistan
1           Asia  Afghanistan
2           Asia  Afghanistan
3           Asia  Afghanistan
4           Asia  Afghanistan
...          ...          ...
161157    Africa     Zimbabwe
161158    Africa     Zimbabwe
161159    Africa     Zimbabwe
161160    Africa     Zimbabwe
161161    Africa     Zimbabwe

[161162 rows x 2 columns]

In [8]:
df[df['location']=='Indonesia']

      iso_code  ... excess_mortality_cumulative_per_million
68282      IDN  ...                                     NaN
68283      IDN  ...                                     NaN
68284      IDN  ...                                     NaN
68285      IDN  ...                                     NaN
68286      IDN  ...                                     NaN
...        ...  ...                                     ...
68989      IDN  ...                                     NaN
68990      IDN  ...                                     NaN
68991      IDN  ...                                     NaN
68992      IDN  ...                                     NaN
68993      IDN  ...                                     NaN

[712 rows x 67 columns]

**Apply Group, merge and aggregate data frame(s)**

In [9]:
df.groupby('location').mean()

                    total_cases  ...  excess_mortality_cumulative_per_million
location                         ...
Afghanistan        7.620415e+04  ...                                      NaN
Africa             4.058719e+06  ...                                      NaN
Albania            9.213432e+04  ...                              1761.189084
Algeria            1.082620e+05  ...                               428.837692
Andorra            9.975326e+03  ...                               838.999922
...                         ...  ...                                      ...
Wallis and Futuna  3.125385e+02  ...                                      NaN
World              1.188754e+08  ...                                      NaN
Yemen              4.805103e+03  ...                                      NaN
Zambia             9.684306e+04  ...                                      NaN
Zimbabwe           5.893534e+04  ...                                      NaN

[238 rows x 62 columns]

In [10]:
indonesia_df = df[df.location == 'Indonesia'].iloc[:,[3,5,4]]
zimbabwe_df = df[df.location == 'Zimbabwe'].iloc[:,[3,5,4]]

In [11]:
indonesia_df.merge(zimbabwe_df,left_on='date',right_on='date')

           date  new_cases_x  total_cases_x  new_cases_y  total_cases_y
0    2020-03-20         58.0          369.0          1.0            1.0
1    2020-03-21         81.0          450.0          2.0            3.0
2    2020-03-22         64.0          514.0          0.0            3.0
3    2020-03-23         65.0          579.0          0.0            3.0
4    2020-03-24        107.0          686.0          0.0            3.0
..          ...          ...            ...          ...            ...
689  2022-02-07      26121.0      4542601.0          0.0       230402.0
690  2022-02-08      37492.0      4580093.0        201.0       230603.0
691  2022-02-09      46843.0      4626936.0        137.0       230740.0
692  2022-02-10      40618.0      4667554.0        300.0       231040.0
693  2022-02-11      40489.0      4708043.0        174.0       231214.0

[694 rows x 5 columns]

**Check for missing and invalid values in data**

In [12]:
df.head()

  iso_code continent  ... excess_mortality excess_mortality_cumulative_per_million
0      AFG      Asia  ...              NaN                                     NaN
1      AFG      Asia  ...              NaN                                     NaN
2      AFG      Asia  ...              NaN                                     NaN
3      AFG      Asia  ...              NaN                                     NaN
4      AFG      Asia  ...              NaN                                     NaN

[5 rows x 67 columns]

In [13]:
df.total_deaths[0:4]

0   NaN
1   NaN
2   NaN
3   NaN
Name: total_deaths, dtype: float64

**Propose a way to treat the missing and invalid values and implement the same on the dataframe**

In [14]:
df.fillna(0,inplace = True)

In [15]:
df.head()

  iso_code continent  ... excess_mortality excess_mortality_cumulative_per_million
0      AFG      Asia  ...              0.0                                     0.0
1      AFG      Asia  ...              0.0                                     0.0
2      AFG      Asia  ...              0.0                                     0.0
3      AFG      Asia  ...              0.0                                     0.0
4      AFG      Asia  ...              0.0                                     0.0

[5 rows x 67 columns]

In [16]:
df.total_deaths[0:4]

0    0.0
1    0.0
2    0.0
3    0.0
Name: total_deaths, dtype: float64

**Compute the mean, sum, range and other interesting statistics for numeric columns**

In [17]:
indonesia_df.sum()

date           2020-03-022020-03-032020-03-042020-03-052020-0...
new_cases                                              4708043.0
total_cases                                         1230886691.0
dtype: object

In [18]:
indonesia_df['new_cases'].mean()

6612.419943820225

In [19]:
indonesia_df.count()

date           712
new_cases      712
total_cases    712
dtype: int64

In [20]:
indonesia_df.describe()

          new_cases   total_cases
count    712.000000  7.120000e+02
mean    6612.419944  1.728773e+06
std     9838.103779  1.673037e+06
min        0.000000  2.000000e+00
25%      741.000000  1.622042e+05
50%     3806.500000  1.275003e+06
75%     6731.000000  3.896421e+06
max    56757.000000  4.708043e+06

# Step 3: Exploration & Inference

1. Ask at least 3 interesting questions about your dataset
2. Answer the questions by computing the results using Pandas library
3. Add concluding remarks

**Ask at least 3 interesting questions about your dataset**

1. what is the total number of countries affected by covid-19 in the dataset?
2. Can you show the new case data from Singapore ?
3. How many columns and rows from dataset Covid-19 ?

**Answer the questions by computing the results using Pandas library**

what is the total number of countries affected by covid-19 in the dataset?

In [32]:
country = df['location'].unique()

In [36]:
total_country = df['location'].nunique()
print('Total countries is ',total_country)

Total countries is  238

Can you show the new case data from Singapore ?

In [40]:
singapore = df[df.location == 'Singapore'].iloc[:,5]
singapore

130017        1.0
130018        2.0
130019        0.0
130020        1.0
130021        1.0
           ...
130763    15558.0
130764    13011.0
130765    10314.0
130766    10686.0
130767     9930.0
Name: new_cases, Length: 751, dtype: float64

How many columns and rows from dataset Covid-19 ?

In [46]:
shape = df.shape
print('Dataset have a %d columnns and %d rows'%(shape[1],shape[0]))

Dataset have a 67 columnns and 161162 rows

**Add concluding remarks**

From the exploration of data frames using pandas, it can be concluded that pandas can be used to explore data in order to get information from tabular data. From the Covid-19 dataframe using pandas we can sort data from various countries and find out some information about covid-19