<a href="https://colab.research.google.com/github/hermansyan/Python-ProjectDPHI/blob/main/Python_Bootcamp_Graded_Hands_on_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Overview

Dear Learner, 

Congratulations, you have studied Python all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

Authors: Albana Celepija, Vinayak Deshpande

###Task 1

We have declared a tuple containing five same elements as following:
T = (‘python’, ‘python’, ‘python’, ‘python’, ‘python’).
Re-write the same code in an optimal/simple way that fetches the same result.

In [14]:
# Re-write T in way simple
T = ('python',)*5

('python', 'python', 'python', 'python', 'python')

In [15]:
#print variabel T
print(T)

('python', 'python', 'python', 'python', 'python')

###Task 2

Write code to print characters from a string that are present at an even index number.
For example, if your input string is "python", the output characters will be (p,t,o).

In [33]:
var = str(input())
even_var = []
for i in range(len(var)):
  if i%2 == 0 :
    even_var.append(var[i])

even_tuple = tuple(even_var)
print(even_tuple)

python
('p', 't', 'o')

### Task 3

Write a function that calculates the average of the elements of the list: 

elements = [5, 7, 4, 9, 2]

In [34]:
elements = [5, 7, 4, 9, 2]

In [38]:
# Method 1 with looping for calculates the average
average = 0 
for i in elements:
  average +=i

average = average/len(elements)
average

5.4

In [40]:
# Method 2 with function built-in python for calculates the average
everage = sum(elements)/len(elements)
average

5.4

### Task 4
Write code to find if the given year is a leap year or not.

In [53]:
#function to calculate leap year
def is_leap(year):
  if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
     return print(year ,"is leap year")
  else:
    return print(year ,"is not leap year")

In [56]:
year = int(input())
is_leap(year)

400
400 is leap year

### Task 5
Given a list of numbers (integers), find the sum of second maximum and second minimum in the following list.

l = [21, 6, 12, 57, 35, 61]

In [68]:
l = [21, 6, 12, 57, 35, 61]

In [75]:
#sorted list l
l_sort = sorted(l)
#find second min
l_sort.remove(l_sort[0])
second_min = min(l_sort)
#find second max
l_sort.remove(l_sort[-1])
second_max = max(l_sort)
#sum second max and second min
sum_secondmaxmin = second_max + second_min
print(sum_secondmaxmin)

69

##Scores

Each of the tasks is of 2 mark each and the scores will be given accordingly after the notebook review.